# MongoDB
MONGODB_URI=mongodb+srv://...

# PayPal
PAYPAL_EMAIL=izelytree@gmail.com
NEXT_PUBLIC_PAYPAL_EMAIL=izelytree@gmail.com

# Gmail
GMAIL_USER=imranebihti8@gmail.com
GMAIL_APP_PASSWORD=your-16-char-app-password

# Discord
DISCORD_WEBHOOK=https://discord.com/api/webhooks/...

# Admin
ADMIN_SECRET=adminmodebyaswad_ib
NEXT_PUBLIC_ADMIN_SECRET=adminmodebyaswad_ib

# JWT Secret
JWT_SECRET=VirgalaJWT2026_!%Xx9Lp2Qr5W

# Public URL
NEXT_PUBLIC_URL=http://localhost:3000

# VIP Price
VIP_PRICE=100
NEXT_PUBLIC_VIP_PRICE=100
